<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="Common.Logging" version="2.0.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="Rx-Main" version="1.0.10621" />
  <package id="WebActivator" version="1.4.2" />
  <package id="WebActivator" version="1.4.3" />
</packages>